$light-color: white;
$dark-color: #5495DF;
$text-color: #0D2949;

html, body {
    min-height: 100%
} 


body {
    font-family: Lato;
    color: $text-color;
    background-color: white ;
    background-image: linear-gradient(105deg, $light-color  40%, $dark-color 40%);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    margin:20px
  }