$light-color: white;
$dark-color: #5495DF;
$text-color: #0D2949;

html, body {
    min-height: 100%;
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #5495DF;
    }
    
    ::-webkit-scrollbar-thumb {
        background: fade-out(#0D2949, .65);
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: fade-out(#0D2949, .8);
    }

    input[type="submit"], .file-label, button {
        border:none;
        border-radius: 2px;
        background-color: $text-color;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        color: #FEAD6F;

        &:hover {
            background-color: fade-out($color: $text-color, $amount: .3);
        }

        &:disabled {
            background-color: fade-out($color: $text-color, $amount: .6);
        }
    }
      
} 


body {
    font-family: Lato;
    font-weight: lighter;
    color: $text-color;
    background-attachment: fixed;
    background-color: white ;
    background-image: linear-gradient(105deg, $light-color  50%, $dark-color 50%);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0 50px;
    
    a {
        color: $text-color;
        text-decoration: none;

        &:hover {
            color: $dark-color;
        }
    }
}

.stats-container {
    ::-webkit-scrollbar {
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: fade-out(#0D2949, 1);
    }
}