
<div id="main">    
  <div class="content">
    <h1 class="title">Random User Statistics Generator</h1>
    <h3 class="description">Give us your <a href="https://randomuser.me" target="_blank"> Random User</a> data and we will display some nice charts</h3>
    <div class="input-container">
      <div class="text-input">
        <label for="user-data">Paste your JSON here </label>
        <textarea form="text-form" name="user-data" id="user-data" cols="50" rows="10" [(ngModel)]="users"></textarea>
        <input type="submit" value="Lets go!" (click)="onTextSubmit()" [disabled]="users.trim().length == 0">
        <div class="text-input-error">{{textErrorMsg}}</div>
      </div>
      <div>Or</div>
      <div class="upload-input">
        <label for="user-file">Upload your JSON file instead</label>
        <input type="file" id="user-file" name="user-file" accept=".json,.txt" (change)="onFileChange($event)">
        <input type="submit" value="Lets go!" (click)="onFileSubmit()" [disabled]="!file">
        <div class="upload-input-error">{{fileErrorMsg}}</div>
      </div>
    </div>
    <div class="stats-container">
      <ngx-charts-advanced-pie-chart *ngIf="genderData" [view]="pieView" [scheme]="genderScheme" [results]="genderData"></ngx-charts-advanced-pie-chart>
      <ngx-charts-advanced-pie-chart *ngIf="firstNameData" [view]="pieView" [scheme]="nameScheme" [results]="firstNameData"></ngx-charts-advanced-pie-chart>
      <ngx-charts-advanced-pie-chart *ngIf="lastNameData" [view]="pieView" [scheme]="nameScheme" [results]="lastNameData"></ngx-charts-advanced-pie-chart>
      <ngx-charts-advanced-pie-chart *ngIf="peopleStateData" [view]="pieGridView" [scheme]="peopleStateScheme" [results]="peopleStateData"></ngx-charts-advanced-pie-chart>
      <ngx-charts-advanced-pie-chart *ngIf="maleStateData" [view]="pieGridView" [scheme]="peopleStateScheme" [results]="maleStateData"></ngx-charts-advanced-pie-chart>
      <ngx-charts-advanced-pie-chart *ngIf="femaleStateData" [view]="pieGridView" [scheme]="peopleStateScheme" [results]="femaleStateData"></ngx-charts-advanced-pie-chart>
      <ngx-charts-advanced-pie-chart *ngIf="ageGroupsData" [view]="pieGridView" [scheme]="ageScheme" [results]="ageGroupsData"></ngx-charts-advanced-pie-chart>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
