
$light-color: white;
$dark-color: #5495DF;
$text-color: #0D2949;

.title {
    font-size: 50px;
    font-weight: lighter;
    margin-top: 0;
}

.description {
    font-size: 24px;
    color: #FEAD6F;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

    .or {
        margin: 10px 50px;
        align-self: center;
        font-size: 20px;
    }
}

.generate-button {
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: flex-end;
    button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

.text-input {
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea {
        width: 500px;
        height: 300px;
        resize: none;
    }

    input, label {
        margin: 1rem;
        &[type="submit"] {
            width: 100px;
        }
    }
}

.upload-input {
    display: flex;
    flex-direction: column;
    align-items: center;

    .upload-area {
        display: flex;
        width: 500px;
        height: 305px;
        background-color: fade-out($color: $light-color, $amount: .8);
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #user-file {
            display: none;
        }
        
    }
    
    input, label {
        margin: 1rem;
        &[type="submit"] {
            width: 100px;
        }
    }

}

.text-input-error, .file-input-error {
    color: crimson;
    font-weight: bold;
}


.stats-container {
    animation: fadein 3s;
    display: flex;
    flex-wrap: wrap;
    font-size: 23px;

    .name-charts {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
    }
    
    .state-charts-header{
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .age-charts-header {
        text-align: center;
        margin-top: 5rem;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (min-width: 1201px) {
    .name-charts {
        width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .state-charts {
        margin-top: 5em;
    }
}

